.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  width: 480px;
}

.title {
  text-align: center;
}

.registration_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_field {
  height: 64px;
  border-radius: 40px;
  padding-left: 24px;
  width: 100%;
  background-color: #2F2F37;
  color: #8585AD;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: none;
}

.form_error {
  border: none;
  min-height: 20px;
}

.text_field::placeholder {
  color: #8585AD;
}
