.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  align-self: flex-start;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  display: flex;
  column-gap: 20px;
}

.list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}