.content {
  max-width: 1240px;
  height: 100%;
  width: 100%;
}

.feed {
  display: flex;
  column-gap: 60px;
  height: calc(100% - 160px);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}