.ingredients {
  overflow-y: auto;
  /* TODO: it shouldn't be hardcoded. Find a way to make it dynamic */
  max-height: 60vh;
}

.ingredients_tab {
  display: flex;
  list-style: none;
}

.article {
  max-width: 600px;
}
